body {
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background: black; /* Change this to the background color you prefer */
    padding: 0 0;
    text-align: center;
}

header img {
    max-width: 100%; /* Ensures the image scales to fit the header */
}

h1 {
    color: #333;
}

#ensembleDropdown {
    margin: 10px;
}

#agendaContainer {
    margin: 20px;
}

#agendaList {
    list-style: none;
    padding: 0;
}

#agendaList li {
    margin-bottom: 10px;
}
